*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

h1{
  font-size: 35px;
  font-family: cursive;
  color: blue;
  text-shadow: 1px 1px 10px blue;
}
.Button{
  display: flex;
  gap: 10px;
  margin: 15px 0;
}
.Button button{
  font-size: 17px;
  background-color: rgb(45, 153, 255);
  border: 2px solid blue;
  border-radius: 6px;
  padding: 5px 10px;
  font-family: cursive;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 10px blue;
}

.Pool{
  width: 400px;
  border: 3px solid blue;
  box-shadow: 1px 1px 10px blue;
  height: 600px;
  transform: rotate(180deg);
  overflow: hidden;
}

.Water{
  width: 100%;
  height: 5px;
  background-color: blue;
}
